<%- include("partials/header.ejs") %>
<div class="container">
<div id="box">
    
    <%  if (locals.day && locals.date && locals.month){%>

       <% if (locals.array && locals.size) {%>

                <%  for (let i = 0; i <  size ; i++) {%>
                    <div class="item">
                        <input type="checkbox" class="cut"name="">
                        <p><%= array[i]%></p>
                    </div>
                <%}%>
       <% } %>

        <form action="/" class="list" method="post" name="myform">
            <div id="newAdder">
                <input type="text" placeholder="New Item" autocomplete="off" name="newItem">
                <button type="submit" id="pbtn" name="list" value="<%= date %>" >+</button>
            </div>
        </form>
        
        <% } %>
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script>
    var elem = document.getElementsByClassName('cut');

for(var i = 0; i < elem.length; i++) {
 elem[i].addEventListener('click', event => {
            if(event.target.checked) {
                let p = event.target.nextElementSibling;
                p.style.textDecoration = 'line-through';
                console.log(p);
            }
            else{
                let p = event.target.nextElementSibling;
                p.style.textDecoration = 'none';
            }
        });
    }
</script>
<%- include("partials/footer.ejs") %>